<header class="header">
    <a href="/" class="header_logo">NodeJs</a>
    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/contacts" class="">contacts</a>
            </li>
        </ul>
    </nav>
</header>